* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

li,
ul,
body {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

/* HEADER */

header {
  width: 100%;
  height: 60px;
  background-color: aquamarine;
}

header a {
  color: white;
}

header .container {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .home-btn {
  height: 60%;
  padding: 0 12px;
  background-color: tomato;
  border-radius: 16px;
}

header .container .home-btn button {
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

header .container .home-btn:hover {
  background-color: rgb(246, 122, 100);
}

header .container .user-section {
  display: flex;
  height: 100%;
}

header .user-out,
.user-in {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}

header .user-out .log-in,
.log-up {
  padding: 0 8px;
  height: 60%;
  border-radius: 16px;
  background-color: tomato;
  cursor: pointer;
}

header .user-out .log-in button,
.log-up button {
  height: 100%;
  border-radius: 16px;
  color: white;
  background-color: transparent;
  font-weight: 600;
}

header .user-out .log-in:hover,
.log-up:hover {
  background-color: rgb(246, 122, 100);
}

header .user-section .user-in {
  display: inherit;
}

header .user-in .log-out {
  padding: 0 8px;
  height: 60%;
  border-radius: 16px;
  color: white;
  background-color: tomato;
  font-weight: 600;
  cursor: pointer;
}

header .user-in .log-out:hover {
  background-color: rgb(246, 122, 100);
}

header .user-in .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #dbdbdb;
  font-weight: 600;
  cursor: pointer;
}

/* ------------- DEVICES  INFO--------------    */

.device-info {
  width: 100%;
  margin-top: 40px;
}

.container {
  width: 60%;
  margin: auto;
}

.device-info .header-info h1 {
  font-weight: 700;
}

.device-info .main-info {
  height: 80vh;
}

.device-info .footer-info {
  display: flex;
  gap: 40px;
}

.device-info .footer-info button {
  font-size: 30px;
  border-radius: 12px;
}
